@use "../../styles/partials/mixins" as *;

.add-pet-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.25rem;
    flex-grow: 1;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;

    @include tablet {
      flex-direction: row;
      width: 68%;
    }
  }

  &__button-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1rem;
    width: 100%;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__location-input {
    @include tablet {
      width: 48%;
    }
  }
}
