.add-pet-form {
  &__image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
    object-fit: cover;
  }

  &__field {
    display: flex;
    flex-direction: column;
  }
}
